body {
    background-color: rgb(123, 217, 217);
    font-family: Arial, sans-serif;
  }
  
  #photo1 {
    width: 700px;
    height: 400px;
  }

  #photo2{
    position:absolute;left:800px;
    width: 700px;
    height: 400px;
  }
  
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    background-color: rgb(186, 227, 227);
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  
  .section ul {
    
    list-style-type: none;
    padding-left: 0;
  }
  
  .section ul li {
    margin-bottom: 5px;
  }
  

  .skill1{
    width: 30px;
    height: 50px;
    background: rgb(36, 21, 210);
    animation-name: ani-circle1; /*動畫名稱(自訂)*/
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }
  .skill2{
    width: 30px;
    height: 50px;
    background: rgb(36, 21, 210);
    animation-name: ani-circle2; 
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }
  .skill3{
    width: 30px;
    height: 50px;
    background: rgb(36, 21, 210);
    animation-name: ani-circle3; 
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }
  .skill4{
    width: 30px;
    height: 50px;
    background: rgb(36, 21, 210);
    animation-name: ani-circle4; 
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }
  
  @keyframes ani-circle1 {
    0% { width: 100px; }
    100% { width: 300px; }
    
  }
  @keyframes ani-circle2 {
    0% { width: 100px; }
    100% { width: 450px; }
  }
  @keyframes ani-circle3 {
    0% { width: 100px; }
    100% { width: 600px; }
  }
  @keyframes ani-circle4 {
    0% { width: 100px; }
    100% { width: 700px; }
  }